In [20]:
from datetime import datetime
from datetime import date

import numpy as np
import pandas as pd
Names = ['ام سلمى','نادية','علي', 'عبد المجيد', 'وجدان', ' أكرم', 'شمس', 'إجلال', 'عبد الله', 'لطيفة','ام سهام', 'محمد','كبيرة','حبيبة', 'مريم','يوسفية', 'جليلة', 'بوشته', 'نهال','ام كوثر', 'مينة', 'ام مصعب', 'سعيدة', 'نجاة', 'سمية', 'أسماء', 'ام بسمة', 'حنان', 'وصال',
             'ملاك' ]
ahzab = ["1/2", "3/4", "5/6", "7/8", "9/10", "11/12", "13/14", "15/16", "17/18", "19/20", "21/22", "23/24", "25/26",
             "27/28", "29/30", "31/32", "33/34", "35/36", "37/38", "39/40", "41/42", "43/44", "45/46", "47/48", "49/50",
             "51/52", "53/54", "55/56", "57/58", "59/60"]
mon_dictionnaire = np.load('coran_df.npy', allow_pickle='TRUE').item()

In [21]:
Names = ['ام سلمى','نادية','علي', 'عبد المجيد', 'وجدان', ' أكرم', 'شمس', 'إجلال', 'عبد الله', 'لطيفة','ام سهام', 'محمد','كبيرة','حبيبة', 'مريم','يوسفية', 'جليلة', 'بوشته', 'نهال','ام كوثر', 'مينة', 'ام مصعب', 'سعيدة', 'نجاة', 'سمية', 'أسماء', 'ام بسمة', 'حنان', 'وصال',
             'ملاك' ]

In [11]:
mon_dictionnaire['45/46']

'سعيدة'

In [22]:
Names

['ام سلمى',
 'نادية',
 'علي',
 'عبد المجيد',
 'وجدان',
 ' أكرم',
 'شمس',
 'إجلال',
 'عبد الله',
 'لطيفة',
 'ام سهام',
 'محمد',
 'كبيرة',
 'حبيبة',
 'مريم',
 'يوسفية',
 'جليلة',
 'بوشته',
 'نهال',
 'ام كوثر',
 'مينة',
 'ام مصعب',
 'سعيدة',
 'نجاة',
 'سمية',
 'أسماء',
 'ام بسمة',
 'حنان',
 'وصال',
 'ملاك']

In [6]:
mon_dictionnaire.keys()

dict_keys(['تاريخ', '1/2', '3/4', '5/6', '7/8', '9/10', '11/12', '13/14', '15/16', '17/18', '19/20', '21/22', '23/24', '25/26', '27/28', '29/30', '31/32', '33/34', '35/36', '37/38', '39/40', '41/42', '43/44', '45/46', '47/48', '49/50', '51/52', '53/54', '55/56', '57/58', '59/60'])

In [25]:
mon_new_dictionnaire = {"تاريخ": datetime.now().date()}
for i in ahzab:
        print(i)
        index = Names.index(mon_dictionnaire[i])
        if index == 30:
            index = 0
        else:
            index = Names.index(mon_dictionnaire[i]) - 1
        if index == 30:
            index = 0
        print(index)
        print(Names[index])
        mon_new_dictionnaire[i] = Names[index]

1/2
-1
ملاك
3/4
0
ام سلمى
5/6
1
نادية
7/8
2
علي
9/10
3
عبد المجيد
11/12
4
وجدان
13/14
5
 أكرم
15/16
6
شمس
17/18
7
إجلال
19/20
8
عبد الله
21/22
9
لطيفة
23/24
10
ام سهام
25/26
11
محمد
27/28
12
كبيرة
29/30
13
حبيبة
31/32
14
مريم
33/34
15
يوسفية
35/36
16
جليلة
37/38
17
بوشته
39/40
18
نهال
41/42
19
ام كوثر
43/44
20
مينة
45/46
21
ام مصعب
47/48
22
سعيدة
49/50
23
نجاة
51/52
24
سمية
53/54
25
أسماء
55/56
26
ام بسمة
57/58
27
حنان
59/60
28
وصال